<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>{{ page.title }} {% if page.tagline %}<small>{{ page.tagline }}</small>{% endif %}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      {% unless page.group == empty %}
      {% assign group = page.group %}
      {% include custom/group %}
      {% endunless %}
      {% unless page.tags == empty %}
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      {% endunless %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ content }}
    <hr>
    {% include JB/comments %}
  </div>
</div>
