<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/news/">News</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>
    <div class="page-header">
      <h1>{{ page.title }} {% if page.tagline %}<small>{{ page.tagline }}</small>{% endif %}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      {% unless page.categories.empty? %}
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
      {% endunless %}
      {% unless page.tags.empty? %}
      {% assign tags_list = page.tags %}
      {% assign is_post = true %}
      {% include JB/tags_list %}
      {% endunless %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <h3>{{ page.date | date_to_long_string }}
        {% if page.author != nil and page.author != '' %}by <a href="https://github.com/{{ page.author }}" target="_blank">{{page.author}}</a>{% endif%}</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      {{ content }}
    <hr>
    <ul class="pagination">
      {% if page.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous</a>
      </li>
      {% else %}
      <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
      <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
      {% else %}
      <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
    </ul>
    <hr>
    {% include JB/comments %}
  </div>
</div>
