---
title: Credits
tagline: Give back to Caesar what is Caesar's
permalink: /credits/
group: navigation-right
order: 1
comments: false
---
<div class="row">
  <div class="col-md-1 col-md-offset-1">
    <img src="/assets/images/caesar.jpg" alt="Caesar">
  </div>
  <div class="col-md-7 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Contributors</div>
      <div class="panel-body">
        <p>We would like to thank them for their contributions to this website:</p>
      </div>
      <ul class="list-group">
      {% for contributor in site.github.contributors %}
        <li class="list-group-item">
          <a href="{{ BASE_PATH }}{{ contributor.html_url }}">
            <img class="col-md-2 pull-left" src="{{contributor.avatar_url}}" alt="Avatar">
            <h4 class="media-heading">{{contributor.login}}</h4>
            <span class="badge">{{contributor.contributions}}</span> contributions.
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Powered by</div>
      <ul class="list-group">
        {% for library in site.github.versions %}
        <li class="list-group-item">{{library[0]}} {{library[1]}}</li>
        {% endfor %}
        <li class="list-group-item">Twitter Boostrap 3.2.0</li>
        <li class="list-group-item">Bootswatch 3.2.0</li>
        <li class="list-group-item">Font Awesome 4.1.0</li>
        <li class="list-group-item">JQuery 1.11.1</li>
        <li class="list-group-item">Less JS 1.7.4</li>
      </ul>
    </div>
  </div>
</div>
