---
title: Credits
permalink: /credits/
group: navigation-right
order: 1
comments: false
---
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Contributors</div>
      <div class="panel-body">
        <p>They contributed to {{ site.title }}</p>
      </div>
      <div class="list-group">
        {% for contributor in site.github.contributors %}
        <a href="{{ BASE_PATH }}{{ contributor.html_url }}" target="_blank" class="list-group-item">{{contributor.login}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Powered by</div>
      <ul class="list-group">
        {% for library in site.github.versions %}
        <li class="list-group-item">{{library[0]}} {{library[1]}}</li>
        {% endfor %}
        <li class="list-group-item">Twitter Boostrap 3.2.0</li>
        <li class="list-group-item">Bootswatch 3.2.0</li>
        <li class="list-group-item">Font Awesome 4.1.0</li>
        <li class="list-group-item">JQuery 1.11.1</li>
        <li class="list-group-item">Less JS 1.7.4</li>
      </ul>
    </div>
  </div>
</div>
