---
layout: page
title: Credits
comments: false
published: false
---

{% include JB/setup %}

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Contributors</div>
      <div class="panel-body">
        <p>They directly or indirectly contributed to {{ site.title }}</p>
      </div>
      <div class="list-group">
        {% for contributor in site.github.contributors %}
        <a href="{{ BASE_PATH }}{{ contributor.html_url }}" class="list-group-item">{{contributor.login}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Powered by</div>
      <ul class="list-group">
        {% for library in site.github.versions %}
        <li class="list-group-item">{{library[0]}} {{library[1]}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
