---
title: Documentation
permalink: /docs/
group: navigation
order: 2
fa-icon: book
---
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-files-o fa-fw"></i> Sources Management</div>
      <div class="list-group">
        {% assign pages_list = site.docs %}
        {% assign group = "scm" %}
        {% include pages_listgroup %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-cog fa-fw"></i> Build Management</div>
      <div class="list-group">
        {% assign pages_list = site.docs %}
        {% assign group = "build" %}
        {% include pages_listgroup %}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-file-text-o fa-fw"></i> IDE</div>
      <div class="list-group">
        {% assign pages_list = site.docs %}
        {% assign group = "ide" %}
        {% include pages_listgroup %}
      </div>
    </div>
  </div>
</div>
