---
title: Standards
tagline: All rules that every eXo contributors should follow
permalink: /standards/
group: navigation
order: 3
fa-icon: institution
---
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">eXo Development Standards</h3>
      </div>
      <div class="panel-body">
        <p>This space contains <strong>all the rules and standards</strong> that <strong>each developer must know and
          respect</strong> to be able to contribute on the codebase of eXo projects.</p>

        <p>The respect of our quality rules can be monitored by our <a href="https://sonar.exoplatform.org"
                                                                       target="_blank">SonarQube</a> instance</p>

        <p>To help projects to continuously increase the level of quality of their developments we organized all rules in
          <strong>levels</strong> that will add <strong>more and more quality controls.</strong></p>

        <p><strong>Each level can :</strong></p>
        <ul>
          <li>add its own new set of rules over the previous level,</li>
          <li>increase the severity of a rule already tracked in an inferior level,</li>
        </ul>
      </div>
    </div>
    <div class="well hidden-print hidden-xs hidden-sm" role="complementary">
      <ul>
        <li>
          <a href="#levels">Quality Levels</a></li>
        <ul>
          <li><a href="#exo_1.2">Level 1.2</a></li>
          <li><a href="#exo_1.1">Level 1.1</a></li>
          <li><a href="#exo_1.0">Level 1.0</a></li>
        </ul>
        </li>
        <li>
          <a href="#rules">All Controls</a></li>
        <ul>
          <li><a href="#validated">Validated rules</a></li>
          <li><a href="#review">In review</a></li>
          <li><a href="#drafts">Drafts</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <script async class="speakerdeck-embed" data-id="1a85f7600d1b0132830c2aee0b50a552" data-ratio="1.41436464088398"
            src="//speakerdeck.com/assets/embed.js"></script>
  </div>
</div>
<a name="levels"></a><h2>Quality Levels</h2>
<a name="exo_1.2"></a>
<div class="panel panel-default">
  <div class="panel-heading">Level 1.2</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-4">Tags</th>
        <th class="col-md-2">Controls</th>
      </tr>
      </thead>
      <tbody>
      {% assign pages_list = site.standards %}
      {% assign sinceLevel = "exo-1_2" %}
      {% include custom/standards_row %}
      </tbody>
    </table>
  </div>
</div>
<a name="exo_1.1"></a>
<div class="panel panel-default">
  <div class="panel-heading">Level 1.1</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-4">Tags</th>
        <th class="col-md-2">Controls</th>
      </tr>
      </thead>
      <tbody>
      {% assign pages_list = site.standards %}
      {% assign sinceLevel = "exo-1_1" %}
      {% include custom/standards_row %}
      </tbody>
    </table>
  </div>
</div>
<a name="exo_1.0"></a>
<div class="panel panel-default">
  <div class="panel-heading">Level 1.0</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-4">Tags</th>
        <th class="col-md-2">Controls</th>
      </tr>
      </thead>
      <tbody>
      {% assign pages_list = site.standards %}
      {% assign sinceLevel = "exo-1_0" %}
      {% include custom/standards_row %}
      </tbody>
    </table>
  </div>
</div>
<a name="rules"></a><h2>All Rules</h2>
<a name="validated"></a>
<div class="panel panel-default">
  <div class="panel-heading">Validated rules</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-4">Tags</th>
        <th class="col-md-2">Controls</th>
      </tr>
      </thead>
      <tbody>
      {% assign pages_list = site.standards %}
      {% assign status = "validated" %}
      {% include custom/standards_row %}
      </tbody>
    </table>
  </div>
</div>
<a name="review"></a>
<div class="panel panel-default">
  <div class="panel-heading">Review in progress</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-4">Tags</th>
        <th class="col-md-2">Controls</th>
      </tr>
      </thead>
      <tbody>
      {% assign pages_list = site.standards %}
      {% assign status = "review" %}
      {% include custom/standards_row %}
      </tbody>
    </table>
  </div>
</div>
<a name="drafts"></a>
<div class="panel panel-default">
  <div class="panel-heading">Drafts</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-4">Tags</th>
        <th class="col-md-2">Controls</th>
      </tr>
      </thead>
      <tbody>
      {% assign pages_list = site.standards %}
      {% assign status = "draft" %}
      {% include custom/standards_row %}
      </tbody>
    </table>
  </div>
</div>
