---
layout: page
title: Thanks
comments: false
---

{% include JB/setup %}

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2>Contributors</h2>
      <ul>
        {% for contributor in site.github.contributors %}
        <li><a href="{{ BASE_PATH }}{{ contributor.html_url }}">{{contributor.login}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2>Powered by</h2>
      <ul>
        {% for library in site.github.versions %}
        <li>{{library}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
