---
layout: default
---
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="{{BASE_PATH}}/">Home</a></li>
      <li><a href="{{BASE_PATH}}/rules/">Development Rules</a></li>
      <li class="active">{{page.title}}</li>
    </ol>
    <div class="page-header">
      <h1>{{page.title}} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">About</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Code</dt>
          <dd>{{page.title}}</dd>
          {% unless page.group.empty? %}
          {% assign group = page.group %}
          <dt>Type</dt>
          <dd>{% include group %}</dd>
          {% endunless %}
          <dt>Excerpt</dt>
          <dd>{{page.tagline}}</dd>
          {% unless page.tags.empty? %}
          {% assign tags_list = page.tags %}
          <dt>Tags</dt>
          <dd>{% include tags_list %}</dd>
          {% endunless %}
          {% unless page.controls.empty? %}
          {% assign severity_list = page.controlsSeverity %}
          <dt>Controls severity</dt>
          <dd>{% include severity_list %}</dd>
          {% endunless %}
          {% if page.author != nil and page.author != '' %}
          <dt>Author</dt>
          <dd><a href="https://github.com/{{page.author}}" target="_blank">{{page.author}}</a></dd>
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Validation</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Status</dt>
          <dd>{{page.status}}</dd>
          {% if page.status == 'validated' %}
          <dt>Validated on</dt>
          <dd>{{page.validationDate}}</dd>
          <dt>Quality Level</dt>
          <dd>{{page.sinceLevel}}</dd>
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="well hidden-print hidden-xs hidden-sm" role="complementary">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#what">What</a></li>
        <li><a href="#why">Why</a></li>
        <li><a href="#examples">Examples</a></li>
        <li><a href="#controls">Controls</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{content}}
    <hr>
    {% include comments %}
  </div>
</div>

