---
title: Development Rules
tagline: All rules that every eXo contributors should follow
permalink: /rules/
category: navigation
order: 3
fa-icon: institution
---
<div class="row">
  <div class="col-md-3">
    <div class="well hidden-print hidden-xs hidden-sm" role="complementary">
      <h4><a href="#levels">Rules by quality level</a></h4>
      <ul>
        <li><a href="#exo-1.2">Level 1.2</a></li>
        <li><a href="#exo-1.1">Level 1.1</a></li>
        <li><a href="#exo-1.0">Level 1.0</a></li>
      </ul>
      <h4><a href="#statuses">Rules by status</a></h4>
      <ul>
        <li><a href="#validated">Validated rules</a></li>
        <li><a href="#review">Review in progress</a></li>
        <li><a href="#draft">Drafts</a></li>
      </ul>
      <h4><a href="#categories">Rules by category</a></h4>
      <ul>
        <li><a href="#architecture">Architecture</a></li>
        <li><a href="#build">Build</a></li>
        <li><a href="#coding">Coding</a></li>
        <li><a href="#ergonomics">Ergonomics</a></li>
        <li><a href="#formatting">Formatting</a></li>
        <li><a href="#formatting">Run</a></li>
      </ul>
      <h4><a href="#sonarqube">About SonarQube</a></h4>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">eXo Development Rules</h3>
      </div>
      <div class="panel-body">
        <p>This space contains <strong>all the rules</strong> that <strong>each developer must know and
          respect</strong> to be able to contribute on the codebase of eXo projects.</p>

        <p>The respect of our quality rules can be monitored by our <a href="https://sonar.exoplatform.org"
                                                                       target="_blank">SonarQube</a> instance</p>

        <p>To help projects to continuously increase the level of quality of their developments we organized all rules in
          <strong>levels</strong> that will add <strong>more and more quality controls.</strong></p>

        <p><strong>Each level can :</strong></p>
        <ul>
          <li>add its own new set of rules over the previous level,</li>
          <li>increase the severity of a rule already tracked in an inferior level,</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<a name="levels"></a><h2>Rules by quality level</h2>
<a name="exo-1.2"></a>
<div class="panel panel-default">
  <div class="panel-heading">Level 1.2</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Category</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
      </tr>
      </thead>
      <tbody>
      {% assign rules_list = site.rules %}
      {% assign rule_sinceLevel = "exo-1.2" %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="exo-1.1"></a>
<div class="panel panel-default">
  <div class="panel-heading">Level 1.1</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Category</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
      </tr>
      </thead>
      <tbody>
      {% assign rules_list = site.rules %}
      {% assign rule_sinceLevel = "exo-1.1" %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="exo-1.0"></a>
<div class="panel panel-default">
  <div class="panel-heading">Level 1.0</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Category</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
      </tr>
      </thead>
      <tbody>
      {% assign rules_list = site.rules %}
      {% assign rule_sinceLevel = "exo-1.0" %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="statuses"></a><h2>Rules by status</h2>
<a name="validated"></a>
<div class="panel panel-default">
  <div class="panel-heading">Validated rules</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Category</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rules_list = site.rules %}
      {% assign rule_status = "validated" %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="review"></a>
<div class="panel panel-default">
  <div class="panel-heading">Review in progress</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Category</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rules_list = site.rules %}
      {% assign rule_status = "review" %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="draft"></a>
<div class="panel panel-default">
  <div class="panel-heading">Drafts</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-1">Category</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rules_list = site.rules %}
      {% assign rule_status = "draft" %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="categories"></a><h2>Rules by category</h2>
<a name="architecture"></a>
<div class="panel panel-default">
  <div class="panel-heading">Architecture rules</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rule_category = "architecture" %}
      {% assign rules_list = site.rules %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="build"></a>
<div class="panel panel-default">
  <div class="panel-heading">Build rules</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rule_category = "build" %}
      {% assign rules_list = site.rules %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="coding"></a>
<div class="panel panel-default">
  <div class="panel-heading">Coding rules</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rule_category = "coding" %}
      {% assign rules_list = site.rules %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="ergonomics"></a>
<div class="panel panel-default">
  <div class="panel-heading">Ergonomics rules</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rule_category = "ergonomics" %}
      {% assign rules_list = site.rules %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="formatting"></a>
<div class="panel panel-default">
  <div class="panel-heading">Formatting rules</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rule_category = "formatting" %}
      {% assign rules_list = site.rules %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="run"></a>
<div class="panel panel-default">
  <div class="panel-heading">Run rules</div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">Identifier</th>
        <th class="col-md-4">Description</th>
        <th class="col-md-3">Tags</th>
        <th class="col-md-2">Controls</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-1">Since</th>
      </tr>
      </thead>
      <tbody>
      {% assign rule_category = "run" %}
      {% assign rules_list = site.rules %}
      {% include rules_rows %}
      </tbody>
    </table>
  </div>
</div>
<a name="sonarqube"></a><h2>About SonarQube</h2>
<div class="row">
  <div class="col-md-12">
    <script async class="speakerdeck-embed" data-id="1a85f7600d1b0132830c2aee0b50a552" data-ratio="1.41436464088398"
            src="//speakerdeck.com/assets/embed.js"></script>
  </div>
</div>
